In [1]:
import numpy as np
import pandas as pd
from sklearn import linear_model

In [4]:

# Veri seti yüklenir.
data = pd.read_csv('homeprices.csv')
# Veriye göz atılır.
data.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [5]:
# Sütun adları Türkçeye çevrilmiştir.
data.rename(columns = {'area':'alan', 'bedrooms':'oda_sayisi',
'age':'yasi', 'price':'fiyati'}, inplace = True)
# Veri setine göz atılır.
data.head()

   alan  oda_sayisi  yasi  fiyati
0  2600         3.0    20  550000
1  3000         4.0    15  565000
2  3200         NaN    18  610000
3  3600         3.0    30  595000
4  4000         5.0     8  760000

In [6]:
# Veri türleri ve eksik veri bilgisi görüntülenir.
data.info()
# Eksik veri ortanca değer ile tamamlanır.
# Veri setinin özelliğine göre farklı yöntemler kullanılabilir.
median_oda_sayisi = data['oda_sayisi'].median()
median_oda_sayisi

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   alan        6 non-null      int64
 1   oda_sayisi  5 non-null      float64
 2   yasi        6 non-null      int64
 3   fiyati      6 non-null      int64
dtypes: float64(1), int64(3)
memory usage: 324.0 bytes

4.0

In [7]:
# Eksik veri ortanca değer ile tamamlanır.
# Veri setinin özelliğine göre farklı yöntemler kullanılabilir.
median_oda_sayisi = data['oda_sayisi'].median()
median_oda_sayisi
data.oda_sayisi = data.oda_sayisi.fillna(median_oda_sayisi)
data

   alan  oda_sayisi  yasi  fiyati
0  2600         3.0    20  550000
1  3000         4.0    15  565000
2  3200         4.0    18  610000
3  3600         3.0    30  595000
4  4000         5.0     8  760000
5  4100         6.0     8  810000